.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
    color: #fff;
}

.movieRow--listarea {
    overflow: hidden;
    padding-left: 30px;
}

.movieRow--list {
    width: 99999px;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
    border-radius: 4px;
}

.movieRow--item img:hover {
    transform: scale(1);
}